header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5%;
  background-color: #05386B;
  color: white;
  text-align: center;
  font-size: 16px;
}

html {
  /*position: fixed;*/
  background-color: #659DBD;
  color: white;
  /*left: 0;
  width: 100%;
  top: 5%;
  bottom: 5%;
  height: 90%;*/
}

main {
  padding-top: 5%;
  padding-bottom: 5%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  color: white;
  background-color: black;
  text-align: center;
}

#minefield {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#minefield TR TD{
  border:1px solid white;
  background: #999999;
  width: 20px;
  height: 20px;
  text-align: center;
}

#minefield TR TD.clicked {
    background: #333333;
}

#minefield TR TD.akna {
    background: #FF0000;
}

#beallitasok {
  margin-top: 2%;
  text-align: center;
}

label {
  font-size: 20px;
}

#top_list {
  width: 300px;
  height: 500px;
  border-left: 3px solid black;
  float: right;
  background-color: lightgray;
}

#game_area {
  width: 200px;
  height: 500px;
  position: absolute;
  float: left;
}

#time_div {
  top: 30px;
  left: 10px;
  position: absolute;
}

#wrapper2 {
  width: 500px;
  height: 500px;
  border: 3px solid;
  margin: 0 auto;
}

.button {
  width: 100px;
  height: 50px;
  background-color: bisque;
  border-radius: 10px;
  border: 1px solid rgba(81, 203, 238, 1);;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  position: absolute;
  top: 200px;
  left: 50px;
  cursor: pointer;
}

#click {
  top: 70px;
  left: 10px;
  position: absolute;
}

#list {
  left: 0;
  font-size: 18px;
  position: relative;
  text-align: center;
}